.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100vh;
}

.cards{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.filters {
    position: absolute;
    top: 150px;
    left: 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.searchBar {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardd {
    text-decoration: none;
}

.nav {
    position: fixed;
    padding-bottom: 60%;
}

.filtersBtn {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #E6B325;
    /* display: flex;
    align-items: center; */
}

.paginated {
    position: fixed;
    bottom: 0;
}