.all {
    padding: 10px;
    margin: 10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 15em;
    height: 20em;
    background-color: #B99683;
    border: solid 1px black;
}

.name {
    font-size: 15px;
    color: #BD5621;
}

.temps {
    color: white;
    font-size: 11px;
    color: #552E1B;
}

.weight {
    font-size: 13px;
    color: #BD5621;
}

