.all {
    display: flex;
    justify-content: center;
}

.details {
  border-radius: 5px;
  background-color: #ad8a2a;
  box-shadow: 15px 15px 15px rgb(130, 130, 130);
  margin-top: 17%;
  margin-left: 20%;
  margin-right: 20%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50em;
}

.temperaments {
    font-size: 14px;
}

.button {
    display: flex;
    margin-top: 50px;
}