
.form {
    padding-top: 5rem;
    line-height: 45px;
    font-size: 1.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.formm {
  border-radius: 5px;
  background-image: #E6B325;
  box-shadow: 15px 15px 15px rgb(130, 130, 130);
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.danger {
    color: rgb(119, 1, 1);
    font-size: 0.8rem;
    margin-top: 3px;
    margin-bottom: 6px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.sub {
    display: flex;
    justify-content: center;
}

.subb {
    font-size:1.5rem;
    background-color: #E6B325;
    border: solid 1px;
    border-color: rgb(54, 37, 24);
    box-shadow: 5px 5px 15px rgb(37, 19, 5);
    color: rgb(54, 37, 24);
    border-radius: 5px;
    margin: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;
}

.tempss {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tempsss {
    display: flex;
    flex-direction: column;
    color: #E6B325;
    font-size: 18px;
}

.tempss button {
    background-color: #745605;
    border: 0.3px solid black;
    margin-left: 15px;
    border-radius: 5%;
    cursor: pointer;
}